.bg-image {
  position: relative;
  background-image: url("/static/images/bg-index.jpg");
  background-size: cover;
  background-position: center;
  z-index: 1;
  color: white;
  height: 80vh;
}

.bg-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.secondary-text {
  color: #6d6d6d;
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: poppins, sans-serif;
}
