<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Analisis Sentimen LSTM</title>
  </head>
  <body>
    <div class="px-4 py-5 my-5 text-center mt-0 bg-image">
      <h1 class="display-5 fw-bold mt-5">Analisis Sentimen</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
          Analisis sentimen adalah proses memahami dan mengelompokkan emosi dalam teks untuk mengungkap opini positif, negatif, atau netral, sehingga membantu bisnis dan peneliti memahami pandangan pengguna secara mendalam.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-dark btn-lg px-4 gap-3">Primary button</button>
        </div>
      </div>
    </div>
    <section class="input">
      <div class="container">
        <div class="row">
          <div class="row justify-content-center text-center">
            <div class="col">
              <h1>Input Sentimen</h1>
            </div>
          </div>
          <div class="row justify-content-center align-items-center text-center m-3">
            <div class="col-md-2">
              <button class="btn btn-outline-primary" id="btnSentiment">Ulasan</button>
            </div>
            <div class="col-md-2">
              <button class="btn btn-outline-primary" id="btnFile">File .csv</button>
            </div>
            <div class="col-md-2 me-5">
              <button class="btn btn-outline-primary" id="btnKode">Kode Aplikasi</button>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-6">
              <form action="/analyze_text" method="POST">
                <div class="input-group mb-3" id="inputSentiment">
                  <input type="text" class="form-control" name="text" placeholder="Masukan suatu ulasan" />
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
                </div>
              </form>
              <form action="/analyze_csv" method="POST" enctype="multipart/form-data">
                <div class="input-group text-center justify-content-center" id="inputFile">
                  <div class="input-group">
                    <input type="file" class="form-control" name="file" accept=".xlsx, .xls" placeholder="Masukan File .csv" />
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Upload</button>
                  </div>
                  <h5 class="secondary-text mt-3">Semakin banyak data, semakin lama prosesnya.</h5>
                  <h5 class="secondary-text">Kolom ulasan harus bernama 'content' (tanpa tanda petik).</h5>
                </div>
              </form>
              <form action="" method="POST" enctype="multipart/form-data">
                <div class="input-group" id="inputKode">
                  <input type="text" class="form-control" name="app_code" placeholder="Masukan kode aplikasi" />
                  <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Submit</button>
                </div>
              </form>
            </div>
          </div>
          <div class="row justify-content-center text-center mt-3">
            <div class="col-md-6">
              <h5 class="secondary-text">Input dapat berupa ulasan / file dengan format .csv / kode dari aplikasi</h5>
            </div>
          </div>
        </div>
        <div class="row mt-3 p-3">
          <div class="row justify-content-center text-center">
            <div class="col-md mt-3">
              <h2>Hasil Analisis Sentimen</h2>
            </div>
          </div>
          <div class="row mt-1 p-3">
            <div class="col-md mt-3 justify-content-center">
              {% if sentiment %}
              <h4>Ulasan : {{ text }}</h4>
              <h4>Prediksi sentimen {{ sentiment }}</h4>
              {% endif %} {% if percentages %}
              <canvas id="sentimentChart" width="200" height="200" class="justify-content-center"></canvas>
              <script>
                var ctx = document.getElementById("sentimentChart").getContext("2d");
                var sentimentChart = new Chart (ctx, {
                  type: 'pie',
                  data: {
                    labels : ['Positif', 'Negatif', 'Netral'],
                    datasets: [{
                      label: 'Persentase Sentimen',
                      data: [{{ percentages['positif'] }},
                            {{ percentages['negatif'] }},
                            {{ percentages['netral'] }}],
                    backgroundColor: ['#4CAF50', '#F44336', '#FFC107'],
                    }]
                  },
                  options: {
                    responsive: true,
                    maintainAspectRatio: false
                  }
                })
              </script>
            </div>
          </div>
          <div class="row mt-3 p-3">
            <div class="row">
              <div class="col-md-11">
                <h4>Kesimpulan</h4>
              </div>
              <div class="col-md-1">
                <a href="/download/{{ download_link }}"><button class="btn btn-primary">Download</button></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md mt-3">
                <h5>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam aliquid inventore velit. Veniam sapiente natus libero suscipit voluptate, illum officiis, cum dolores eos incidunt quos esse molestiae molestias voluptatibus
                  repellendus.
                </h5>
              </div>
            </div>
          </div>
          {% endif %}
        </div>
        <div class="row mt-3 p-3">
          <div class="row mt-3">
            <div class="col-md-8">
              <h2>Tahapan Mencari Kode Aplikasi</h2>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md">
              <img class="img-fluid" src="/static/images/find-code.png" alt="find_code" />
            </div>
          </div>
        </div>
        <div class="row justify-content-center text-center mt-3 p-3">
          <div class="row">
            <div class="col-md mt-3">
              <h2>Hubungi Saya</h2>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8 mt-3">
              <h5 class="secondary-text">Jika anda memiliki pertanyaan atau butuh bantuan, jangan ragu untuk menghubungi saya. Saya siap membantu Anda</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md mt-3">
              <h5>+62 8133 8665 572</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-md mt-3">
              <h5>Sang Made Yudha Ardianatha</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
  <script>
    const btnSentiment = document.getElementById("btnSentiment");
    const btnFile = document.getElementById("btnFile");
    const btnKode = document.getElementById("btnKode");

    const inputSentiment = document.getElementById("inputSentiment");
    const inputFile = document.getElementById("inputFile");
    const inputKode = document.getElementById("inputKode");

    const buttons = [btnSentiment, btnFile, btnKode];

    btnSentiment.addEventListener("click", function () {
      showInput("sentiment");
    });

    btnFile.addEventListener("click", function () {
      showInput("file");
    });

    btnKode.addEventListener("click", function () {
      showInput("kode");
    });

    function showInput(type) {
      // Reset semua input dan tombol
      inputSentiment.classList.add("d-none");
      inputFile.classList.add("d-none");
      inputKode.classList.add("d-none");

      buttons.forEach((btn) => btn.classList.remove("active"));

      // Tampilkan sesuai tipe yang dipilih
      if (type === "sentiment") {
        inputSentiment.classList.remove("d-none");
        btnSentiment.classList.add("active");
      } else if (type === "file") {
        inputFile.classList.remove("d-none");
        btnFile.classList.add("active");
      } else if (type === "kode") {
        inputKode.classList.remove("d-none");
        btnKode.classList.add("active");
      }
    }
    showInput("sentiment");
  </script>
</html>
